spring:
  application:
    name: "configserver"
  profiles:
    active: git
#    active: native
  cloud:
    config:
      server:
        git:
          uri: "https://github.com/GitKartikeya2003/configserverBank.git"
          default-label: master
          timeout: 5
          clone-on-start: true
          force-pull: true
        native:
          search-locations: classpath:/config
server:
  port: 8071